# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\book store 16jan\Book_Store-Backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
